<div class="main-container">
  <form class="forecast-form" [formGroup]="form" (ngSubmit)="submitForm(city.value)">
    <select formControlName="city" (change)="submitForm(city.value)" #city>
      <option class="default-option" value="">Select a city</option>
      <option *ngFor="let city of cities" [value]="city.id">
        {{ city.name }}
      </option>
    </select>
  </form>

  <h3 class="error" *ngIf="forecast && forecast.error">{{ forecast.error }}</h3>

  <div *ngIf="forecast && forecast.data && forecast.data.daily && forecast.data.current">
    <app-navigation></app-navigation>

    <div class="forecast-container">
      <app-current-forecast [currentForecast]="forecast.data.current"></app-current-forecast>

      <div class="inner-forecast-container disable-scrollbars" id="inner-forecast-container">
        <div class="scroll-arrows scroll-left"
             (click)="forecastService.horizontalSlide(false, 'inner-forecast-container', 120)">
          <img src="assets/images/arrow.svg" alt="Slide to left"/>
        </div>

        <app-daily-forecast
          *ngFor="let day of forecast.data.daily; let i = index; let first = first ;let last = last;"
          [index]="i" [first]="first" [last]="last">
        </app-daily-forecast>

        <div class="scroll-arrows scroll-right"
             (click)="forecastService.horizontalSlide(true, 'inner-forecast-container', 120)">
          <img src="assets/images/arrow.svg" alt="Slide to right" class="arrow-right" />
        </div>
      </div>
    </div>
  </div>

  <div class="button-container">
    <button class="open-form-button">
      Add metrics manually
    </button>
  </div>
</div>
